<!DOCTYPE html>
<html>
<head>
    <title>Company</title>
</head>
<body>
    <form action="/update_company/<%= company.company_id %>" method="post">
        <label for="url">URL:</label><br>
        <input type="url" id="url" name="url" value="<%= company.url %>"><br>
        <label for="contact">Contact:</label><br>
        <input type="text" id="contact" name="contact" value="<%= company.contact %>"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" value="<%= company.email %>"><br>
        <label for="phone">Phone:</label><br>
        <input type="tel" id="phone" name="phone" value="<%= company.phone %>"><br>
        <label for="notes">Notes:</label><br>
        <textarea id="notes" name="notes"><%= company.notes %></textarea><br>
        <label for="company">Company:</label><br>
        <input type="text" id="company" name="company" value="<%= company.company %>"><br>
        <label for="position">Position:</label><br>
        <input type="text" id="position" name="position"value="<%= company.position %>"><br>
        <input type="submit" value="Step Completed">
    </form>
    <p>Hello<%= company.contact ? ' ' + company.contact : '' %>,</p>
    <% switch (company.step) { 
        case 1: %>
            <p>My name is [Your Name]. Last week, I applied for the <%= company.position %> role at <%= company.company %>. I’m enthusiastic about the opportunity to contribute my skills and passion for software development to your team. I wanted to follow up on my application and express my continued interest in the position. Thank you for considering my application. I look forward to the possibility of discussing how my skills align with the needs of <%= company.company %>;</p>
        <% break; 
        case 2: %>
            <p>I hope this message finds you well. I wanted to reiterate my strong interest in the <%= company.position %> role at <%= company.company %>. I recently updated my website, https://[Your Name]-pada.github.io/, to showcase my latest projects and skills, providing a more comprehensive view of my capabilities. If there's any additional information you need or if you have any updates on the hiring process, I would appreciate hearing from you.<br><br>Thank you for considering my application. I look forward to the possibility of contributing to <%= company.company %>.</p>
        <% break; 
        case 3: %>
            <p>I hope this email finds you well. I am writing to inquire about the status of my application for the <%= company.position %> role. I am very excited about the possibility of joining <%= company.company %> and wanted to check if there are any updates on the hiring process. Thank you for your time, and I appreciate your consideration. </p>
        <% break; 
        case 4: %>
            <p>It’s [Your Name]. I wanted to highlight my ITIL Foundations and CompTIA Project+ certifications. These certifications showcase my commitment to continued learning within the field of Computer Science. With the knoledge that I gained from these certifications along with my software development background, I know that i could be a grat asset to <%= company.company %>. I remain eager to contribute my skills to your team and am available for any additional information you may need.<br><br>Thank you for considering my application. I look forward to the possibility of discussing how my qualifications align with the needs of <%= company.company %>.</p>
        <% break; 
        case 5: %>
            <p>I've reached out a couple of times regarding the <%= company.position %> role, and while I understand you may be quite busy, I wanted to take a moment to acknowledge that I might not have hit the mark with my previous communications.
                <br><br>I remain genuinely enthusiastic about the prospect of contributing to <%= company.company %>. If my previous emails haven't resonated as intended, I want to assure you that I'm still very interested in exploring potential opportunities within your team. I understand that the hiring process can be complex, and I respect your time and consideration.
                <br><br>I am open to any feedback you might have and would appreciate any guidance on how I can better align my qualifications with the needs of <%= company.company %>. Whether it's for the <%= company.position %> or any other relevant roles within your organization, I am eager to contribute my skills and be a valuable asset to your team.
                <br><br>Thank you for your time and consideration. I look forward to the possibility of discussing how my background could align with the needs of <%= company.company %>.</p>
        <% break; 
    } %>
    <p>
        Best regards, <br>
        [Your Name]<br>
        [Your Phone Number]<br>
        [Your Email]<br>
        [Your GitHub]<br>
        [Your LinkedIn]
    </p>
</body>
</html>